img{
    margin-top: 0;
    width: 70px;
    height: 70px;
}

body{
    margin: 0;
    margin-top: 58px;
    font-family: sans-serif;
}

nav{
    background-color: white;
    display: flex;
    font-family: sans-serif;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
    position: fixed;
    width: 100%;
    top: 0;
    border-bottom: 2px orangered solid;
    flex-wrap: wrap;
    position: fixed;
}

.navbar{
    padding: 10px;
    width: 100px;
    text-align: center;
    cursor: pointer;
    font-size: 30px;
    color: white;
    
}

.navbar > div{
    position: absolute;
    display: none;
    flex-direction: column;
    margin-top:10px ;
    width: 100px;
    font-size: 20px;
 
}
.navbar > div > a{
    background-color: white;
    padding: 5px;
    color: black;
    text-decoration: none;
    transition: 0.5s;
    border: 1px solid orangered;
}
.navbar > div > a:hover{
    background-color: rgb(228, 95, 47);
}

.navbar:hover >div{
    display: flex;
}


input{
    border-radius: px;
    margin-left: 18px;
    height: 50px;
    width: 310px;
    padding-left: 10px;
}

.pesquisa{
    margin-left: 20px;
    background-color: white;
    color: rgb(33, 33, 33);
    border-radius: 50px;
    padding: 0 10px;
    border: 1px solid orangered;


    > input{
        border: none;
    }
}
p{
    font-family: sans-serif;
    margin-left: 10px;
    
    a{
        text-decoration: none;
        color: rgb(54, 54, 54);
    }
    a:hover{
        color: orangered;
    }
}

i{
    margin-left: 20px;
    width: 18px;
    height: 18px;
    color: orangered;
    font-size: 50px;
    

}
i:hover{
    color: orangered;
    
}

.opcoes{
    border-top: solid 1px rgb(177, 177, 177);
    font-size: 25px;
    display: flex;
    padding-top: 20px;
    padding-bottom: 25px;
    flex-direction: row;
   
    
    a{
        text-decoration: none;

        label{
            margin-left: 25.7px;
            margin-right: 25px;
            color: rgb(88, 88, 88);
            font-size: 15px;
        }

        
    }
    a :hover{
        color: orangered;
    }
}

.receita{
    display: flex;
    flex-direction: column;
    margin-left: 55px;
    

}

.foto{
    width: 230px;
    height: 150px;
    border-radius: 9px;
    border: orangered 1px solid;
}

.cards{
    padding: 25px;
    margin-top: 128px;
    padding: 50px;
    display: flex;
    flex-wrap: wrap;
    gap: 13px;
     
    a{
        text-decoration: none;
        gap: 4px;
    }
}

.descricao{
    width: 230px;
    color: rgb(34, 34, 34);
}
.pessoa{
    color: rgb(59, 59, 59);
    padding-bottom: 5px;
    font-size: 13px;
}
.coracao{
    display: inline;
}
.tipos{
    font-size: 18px;
    display: flex;
}
.teste{
    margin-left: 7px;
}
.simbolos{
    font-size: 18px;
    margin-left: 50px;
}

@media(max-width: 1050px){
    input{
        width: 200px;
    }
}
@media(max-width: 940px){
    input{
        width: 150px;
    }
}
@media(max-width: 885px){
    input{
        width: 100px;
    }

}
@media(max-width: 840px){
    input{
        display: none;
        border: transparent;
    }
    .pesquisa{
        display: none;
    }
}
@media(max-width: 620px){
    .tipos{
        font-size: 10px;
    }
    .simbolos{
        font-size: 10px;
    }
    .logo{
        width: 50px;
        height: 50px;
    }
    .navbar{
        width: 50px;
        height: 50px;
    }
}
